@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@100;200;300;400;500;600;700&family=Spline+Sans+Mono:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: url(./img/WhatsApp\ Image\ 2022-05-15\ at\ 8.04.49\ PM.jpeg);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Spline Sans Mono", sans-serif;

}
main {
    margin: 100px;
    padding: 50px;
    background-color: #f8c7da;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.inicio {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.texto {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.img{
    width: 300px;
    height: auto;
}

h2{
    font-weight: 700;
    font-size: 3rem;
    color: #2b2d42;
}
a{
    text-decoration: none;
}
.botonc{
    display: flex;
    gap: 20px;
    margin-top: 10px;
}
.botones {
    border: 3px solid #2b2d42 ;
    border-radius: 8px;
    padding: 0.8rem 1rem;

}
.b1{
    background-color: #2b2d42;
    color: #f8c7da;
}
.b2{
    color: #2b2d42;
}

.b1:hover {
    border: 3px solid #2b2d42 ;
    border-radius: 8px;
    background-color: #f8c7da;
    color: #2b2d42;

}
.b2:hover { 
    background-color: #2b2d42;
    color: #f8c7da;
}
.inf{
    border-top: 3px solid #e68daf;
    width: 600px;
    margin-top: 200px;
    padding: 50px;
   
}